<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF_8">
    <title> Blog list</title>
</head>
<body>
    <h1>
        Blog
    </h1>
    <ul>
        {% for blog in blog_list %}
            
            <li>
                <h2>{{blog.name}} - {{blog.published_date}}
                <p><a href="{% url 'blog_details' blog.id %}" target="_blank"> Details</a></p>
                <p><a href="{% url 'blog_by_author' blog.author.id %}" target="_blank">Posts by Author</a></p>

            </li>
            
        {% endfor %}
    </ul>
</body>

    
</html>